<!-- Blog preview section-->
<section class="py-5">
    <div class="container px-5 my-5">
      <aside class="bg-primary bg-gradient rounded-3 p-4 p-sm-5 mt-5">
        <div class="d-flex align-items-center justify-content-between flex-column flex-xl-row text-center text-xl-start">
          <div class="mb-4 mb-xl-0">
            <div class="fs-3 fw-bold text-white">
              {{bannerQuote}}
            </div>
          </div>
          <div class="ms-xl-4">
          </div>
        </div>
      </aside>
    </div>
  </section>
 
