<!-- Testimonial section-->
<div class="py-5 bg-light">
  <div class="container px-5 my-5">
    <div class="row gx-5 justify-content-center">
      <div class="col-lg-10 col-xl-7">
        <div class="text-center">
          <div class="fs-4 mb-4 fst-italic">"Cartagena, suma a sus encantos los atractivos de una intensa vida nocturna, festivales culturales y paisajes
          exuberantes. <b> Las playas de la ciudad te invitan a hacer turismo, descansar y divertirte con la refrescante brisa y las
          tibias aguas del mar.</b>"</div>
          <div class="d-flex align-items-center justify-content-center">
            <img class="rounded-circle me-3" src="assets/img/avatar.jpg" alt="avatar" />
            <div class="fw-bold">
              Tom Ato
              <span class="fw-bold text-primary mx-1">/</span>
              Fakhouri - Francia
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
